@model IEnumerable<Laboratoire1.Models.Evaluation>

@{
    ViewData["Title"] = "List";
}

@if (ViewBag.m_message != null)
{
    <section id="message-alert" data-message="@ViewBag.m_message" data-type="@ViewBag.type"></section>
}
<div class="container white-wrapper">
    <div class="flex-wrapper p-50-0">
        <div class="superior-wrapper m-auto w230-h10 orange-72">
            <h1>La progression de vos étudiants.</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <label asp-for="First().num_evaluation"></label>
        </div>
        <div class="col-2">
            <label asp-for="First().nom_eleve"></label>
        </div>
        <div class="col-2">
            <label asp-for="First().prenom_eleve"></label>
        </div>
        <div class="col-2">
            <label asp-for="First().note_evaluation"></label>
        </div>
        <div class="col-2">
            <label asp-for="First().date_evaluation"></label>
        </div>
        <div class="col-2"></div>
    </div>
    @foreach (Evaluation item in Model)
    {
        // Rowevaluation est un TagHelper qui transorme la balise pour un div contenant un data-* pour tous les fields d'une évaluation
        <Rowevaluation eval="@item" style="text-align:left;">
            <div class="col-2"><label asp-for="@item.num_evaluation">@item.num_evaluation</label></div>
            <div class="col-2"><label asp-for="@item.nom_eleve">@item.nom_eleve</label></div>
            <div class="col-2"><label asp-for="@item.nom_eleve">@item.prenom_eleve</label></div>
            <div class="col-2"><label asp-for="@item.note_evaluation">@item.note_evaluation</label></div>
            <div class="col-2"><label asp-for="@item.date_evaluation">@item.date_evaluation</label></div>
            <div class="col-2">
                <a asp-controller="Evaluation" asp-action="Update" asp-route-num_evaluation="@item.num_evaluation">Modifier</a>|
                <a asp-controller="Evaluation" asp-action="Delete" asp-route-num_evaluation="@item.num_evaluation">Supprimer</a>
            </div>
        </Rowevaluation>
    }
</div>
<div class="list-page-widget">
    <a asp-action="Create">Ajouter  un étudiant</a>
</div>
<div id="modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Online est remplacé avec deux div un row et un col pour pour apaiser les yeux ici -->
                <Rowcolmin asp-id="modal-num">
                    <label asp-for="First().num_evaluation"></label>
                </Rowcolmin>
                <Rowcolmin asp-id="modal-nom">
                    <label asp-for="First().nom_eleve"></label>
                </Rowcolmin>
                <Rowcolmin asp-id="modal-prenom">
                    <label asp-for="First().prenom_eleve"></label>
                </Rowcolmin>
                <Rowcolmin asp-id="modal-tel">
                    <label asp-for="First().telephone_eleve"></label>
                </Rowcolmin>
                <Rowcolmin asp-id="modal-courriel">
                    <label asp-for="First().courriel_eleve"></label>
                </Rowcolmin>
                <Rowcolmin asp-id="modal-genre">
                    <label asp-for="First().genre_eleve"></label>
                </Rowcolmin>
                <Rowcolmin asp-id="modal-note">
                    <label asp-for="First().note_evaluation"></label>
                </Rowcolmin>
                <Rowcolmin asp-id="modal-date">
                    <label asp-for="First().date_evaluation"></label>
                </Rowcolmin>
                <Rowcolmin asp-id="modal-commentaire">
                    <label asp-for="First().commentaires_evaluation"></label>
                </Rowcolmin>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <script type="text/javascript" src="~/js/list.js"></script>
}

